div.section {
  border: 		  1px solid #eee;
  border-radius:  15px;
  padding: 		  5px;
}

div.page-wrapper {
  padding-left:   30px;
  max-width:      650px;
  min-height:     400px;

  div.filter-label {
    margin-top:  -15px;
  }

  div.content {
    min-height: 500px;
  }

  div.panel-content {
    width: 		150px;
    display:	inline;
  }

  div.inline {
    display: 		inline-block;
    margin-right: 	5px;
  }
}

