<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration threshold="all" debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Console -->
    <appender name="PRIMARY" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="ALL"/>
      <param name="ImmediateFlush" value="true"/>
      <param name="Target" value="System.out"/>
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %x - %m%n"/>
      </layout>
    </appender>
    
    <logger name="org.springframework.security" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="PRIMARY"/>
    </logger>

    <root>
      <level value="INFO"/>
      <appender-ref ref="PRIMARY" />
    </root>
       
</log4j:configuration> 