<div class="page-header">
	<h2>Login</h2>
</div>

<form name="loginForm" class="form-horizontal" novalidate>
    <div class="form-group" example-has-error>
        <label for="email" class="col-sm-3 control-label">Email:</label>

        <div class="col-sm-9">
            <input id="email" data-ng-model="credentials.email" type="text" class="form-control" example-focus required />
        </div>
    </div>
    <div class="form-group" example-has-error>
        <label for="password" class="col-sm-3 control-label">Password:</label>

        <div class="col-sm-9">
            <input id="password" data-ng-model="credentials.password" type="password" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <input type="submit" value="Log In" class="btn btn-primary" data-ng-disabled="loginForm.$invalid" data-ng-click="login(credentials)"/>
        </div>
    </div>
</form>